@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Patrick+Hand&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}
body {
    background-color: #9b1414;
    height: 100vh;
}
#app {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.disabled {
    display: none !important;
}
.box {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    background-color: #EE161F;
    height: 400px;
    width: 800px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    border-radius: 5px;
    position: relative;
}
.homepage img {
    position: absolute;
    top: 25px;
    width: 300px;
}
.homepage form {
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 80px;
}
.button {
    background-color: rgb(255, 255, 255);
    border: 0;
    height: 50px;
    width: 210px;
    border-radius: 15px;
    outline: #EE161F solid 3px;
    will-change: outline-offset;
    transition: outline-offset .1s;
    font-size: 1.2rem;
}
.button:hover {
    outline-offset: -5px;
}
.informations form {
    position: absolute;
    top: 50px;
    left: 10%;
    height: calc(100% - 50px);
}
.informations form p {
    font-size: 1rem;
    color: #fff;
    padding: 5px 0;
}
.box form input[type="text"] {
    background-color: #fff;
    border: none;
    width: 640px;
    height: 50px;
    padding: 0 25px;
    font-size: 1rem;
    border-radius: 5px;
}
.box form input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.box form input[type="number"] {
    background-color: #fff;
    border: none;
    width: 640px;
    height: 50px;
    padding: 0 25px;
    font-size: 1rem;
    border-radius: 5px;
}
.box form input:focus {
    outline: none;
}
.informations .game-list {
    background-color: #fff;
    width: 640px;
    height: 180px;
    margin-bottom: 70px;
    border-radius: 5px;
    overflow: hidden;
    z-index: 8;
}
.informations .game-list .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 17px;
    transition: background-color .2s;
}
.informations .game-list .item:hover {
    background-color: rgb(235, 235, 235);
}
.informations .game-list .item .roomButton {
    border: none;
    background-color: #56e867;
    border-radius: 5px;
    padding: 10px 17px;
}
.informations .game-list .item .roomButton:hover {
    background-color: #66f376;
}

.informations .game-list .item .roomButtonFull {
    border: none;
    background-color: #d3d3d3;
    border-radius: 5px;
    padding: 10px 17px;
}
.informations .game-list .item .roomButtonFull:hover {
    background-color: #bdbdbd;
}
.private {
    display: flex;
    gap: 5px;
    align-items: center;
    padding-top: 5px;
    padding-left: 1px;
}
.box input[type="checkbox"] {
    height: 20px;
    width: 20px;
    border: none;
    position: relative;
    border-radius: 25px;
}
.box input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 22px;
    height: 22px;
    top: -1px;
    left: -1px;
    border-radius: 3px;
    background-color: white;
}
.box input[type=checkbox]:after {
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    background-color: #EE161F;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: width .2s, height .2s;
}
.box input[type=checkbox]:checked:after {
     width: 10px;
     height: 10px;
}
.buttons-wrapper {
    position: absolute;
    bottom: 15px;
    gap: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#waiting {
    flex-direction: column;
}
#waiting h1 {
    margin-top: 15px;
    color: #fff;
}
#waiting .link {
    position: absolute;
    width: 100%;
    bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
}
#waiting .link a {
    color: rgb(70, 92, 214);
}
#waiting .link .inner {
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    padding: 15px 40px;
}

.custom-scroll::-webkit-scrollbar {
    width: 10px;
}
.custom-scroll::-webkit-scrollbar-track {
    background: #ffffff; 
}
.custom-scroll::-webkit-scrollbar-thumb {
    background: #ffbcbe; 
}
.custom-scroll::-webkit-scrollbar-thumb:hover {
    background: #ff9a9e; 
}

.room-player-list {
    background-color: rgb(255, 255, 255);
    width: 80%;
    margin-top: 15px;
    border-radius: 5px;
    height: 40%;
    display: flex;
    flex-direction: column;
    gap: 1px;
    overflow: hidden scroll;
}
.room-player-list .playerItem {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
}
.room-player-list .playerItem:hover {
    background-color: #ffe2e3;
}





.game {
    background-color: #EE161F;
    height: 100vh;
    width: 100vw;
    display: flex;
}
.card {
    width: 150px;
}
.game .middle {
    display: flex;
    align-self: center;
    width: 100vw;
    align-items: center;
    justify-content: center;

}
.game .middle .inner {
    display: flex;
    gap: 50px;
}
.player {
    background-color: rgb(235, 235, 235);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.player.win {
    background-color: rgb(29, 29, 29);
    color: #fff
}
.player.small {
    height: 50px;
    width: 50px;
}
.player.bigAvatar {
    height: 100px;
    width: 100px;
    position: absolute;
}
.player-list {
    position: absolute;
    left: 50%;
    top: 25px;
    transform: translateX(-50%);
    width: 80vw;
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
}
.firstPerson {
    top: 70%;
    left: 5%;
    transform: translateY(-50%);
}
.secondPerson {
    top: 35%;
    left: 5%;
    transform: translateY(-50%);
}

.thirdPerson {
    top: 70%;
    right: 5%;
    transform: translateY(-50%);
}
.fourthPerson {
    top: 35%;
    right: 5%;
    transform: translateY(-50%);
}